!!!
%html
  %head
    %title
      Lis.tt - the social list tool
    = stylesheet_link_tag "application", "http://fonts.googleapis.com/css?family=Mrs+Sheppards", "http://fonts.googleapis.com/css?family=Lusitana"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #flash
      - if flash[:notice]
        #flash_notice
          = flash[:notice]
          - flash[:notice] = nil
      - if flash[:alert]
        #flash_alert
          = flash[:alert]
          - flash[:alert] = nil
    .container_16#header
      .grid_16#sign_in_status
        - if user_signed_in?
          Signed in as 
          %b
            #{current_user.email}.
          Not you?
          = link_to "Sign out", destroy_user_session_path, :method => :delete
        - else
          Not signed in.
          = link_to "Sign in", authentications_path

    .container_16#content
      .grid_16
        #banner
          %a{:href => "/"}
            Lis.tt
      .grid_16#content_margin
        &nbsp;
      = yield

    .container_16#footer
      .grid_16
        .grid_2.alpha
          &nbsp;
        .grid_4.footer_item
          ABOUT
        .grid_4.footer_item
          POLICIES
        .grid_4.footer_item
          CONTACT
        .grid_2.omega
          &nbsp;
